@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply 
    tracking-wide
  }

  h1 {
    @apply 
    text-4xl 
    sm:text-5xl 
    md:text-6xl
  }

  h2 {
    @apply 
    text-3xl 
    sm:text-4xl 
    md:text-5xl
  }

  h3 {
    @apply 
    text-2xl 
    sm:text-3xl 
    md:text-4xl
  }

  h4 {
    @apply 
    text-xl 
    sm:text-2xl 
    md:text-3xl
  }

  h5 {
    @apply 
    text-lg
    sm:text-xl 
    md:text-2xl
  }

  h6 {
    @apply 
    text-base
    sm:text-lg 
    md:text-xl
  }

  input[type="file"] {
    display: none;
  }
}

@layer components {
  .control-button {
    @apply
    border hover:shadow-md px-3 py-1 rounded-md mx-3
  }
  .control-button-disabled {
    @apply
    border px-3 py-1 rounded-md mx-3 bg-gray-200
  }

  .highlight-text {
    @apply
    text-orange-600
  }

  .list-item {
    @apply
    ml-6 my-3
  }
}